<footer class="site-footer">
    <div class="footer-container">
      <div class="footer-column">
        <p><strong>Mahdis Rabbani</strong> | Research Assistant</p>
        <p>University of California, Davis</p>
        <p><a href="mailto:mrabbani@ucdavis.edu"><i class="fas fa-envelope"></i> mrabbani@ucdavis.edu</a></p>
      </div>
      <div class="footer-column">
        <p>
          <a href="https://www.linkedin.com/in/mahdis-rabbani" target="_blank">
            <i class="fab fa-linkedin"></i> Linked-In
          </a>
        </p>
        <p>
          <a href="https://scholar.google.com/citations?user=0O-aLs8AAAAJ&hl=en" target="_blank">
            <i class="fas fa-graduation-cap"></i> Google Scholar
          </a>
        </p>
        <p>
          <!-- <a href="/assets/pdfs/resume.pdf" target="_blank">
            <i class="fas fa-file-pdf"></i> Download Resume
          </a> -->
        </p>
      </div>
    </div>
  </footer>
  